service cloud.firestore {
  match /databases/{database}/documents {

    // users
    match /users/{user_id} {
      allow read: if request.auth != null;
      // TODO: more complex read rules (private vs. public information)
      allow write: if request.auth.uid == user_id || request.auth.uid == "chain";
    }


    // transactions
    match /transactions/{transaction_id} {
      allow read: if request.auth.uid == resource.data.fromId || request.auth.uid == resource.data.toId;
      allow write: if request.auth.uid == request.resource.data.fromId || request.auth.uid == request.resource.data.toId;
      allow delete: if request.auth.uid == resource.data.fromId || request.auth.uid == resource.data.toId;
    }

    // request data
    // TODO: needs to be wayyyy more specific (changed this to allow for reminders)
    match /requests/{request_id} {
      allow read: if request.auth.uid == resource.data.from_id ||
                        request.auth.uid == resource.data.to_id;
      allow create: if request.auth.uid == request.resource.data.to_id;
      allow update: if request.auth.uid == resource.data.from_id || request.auth.uid == resource.data.to_id;
      allow delete: if request.auth.uid == resource.data.to_id;
    }

  }
}
