service cloud.firestore {
  match /databases/{database}/documents {

    // users
    match /people/{user_id} {
      allow read: if request.auth != null;
      // TODO: more complex read rules (private vs. public information)
      allow write: if request.auth.uid == user_id || request.auth.uid == "chain";
    }


    // transactions
    match /transactions/{transaction_id} {
      allow read: if request.auth.uid == resource.data.from_id ||
                        request.auth.uid == resource.data.to_id;
      allow write: if request.auth.uid == request.resource.data.from_id &&
                        get(/databases/$(database)/documents/people/$(request.auth.uid)).data.crypto[request.resource.data.currency].balance >
                        (request.resource.data.amount + request.resource.data.fee.amount);
    }

    // request data
    match /requests/{request_id} {
      allow read: if request.auth.uid == resource.data.from_id ||
                        request.auth.uid == resource.data.to_id;
      allow create: if request.auth.uid == request.resource.data.to_id;
      allow update: if request.auth.uid == resource.data.from_id;
      allow delete: if request.auth.uid == resource.data.to_id;
    }

  }
}
